<h1 mat-dialog-title>Créditos</h1>
<div mat-dialog-content class="mat-typography">
  <h3>Dirección del proyecto</h3>
  <p>
    Culpa incididunt ut occaecat amet dolore eiusmod ex ut sit laborum in
    nostrud.
  </p>

  <h3>Equipo de desarrollo</h3>
  <p>
    Laboris excepteur voluptate deserunt labore ex consequat nisi fugiat non
    incididunt adipisicing nisi ipsum labore.
  </p>

  <h3>Información del proyecto</h3>
  <p>
    <a href="https://www.ual.es" target="_blank">Web del proyecto</a>
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close] cdkFocusInitial>Cancelar</button>
  <button mat-button mat-flat-button color="primary" (click)="aceptar()">
    Aceptar
  </button>
</div>
