<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="text-center" fxLayout="column" fxLayoutAlign="center center">
    <img src="assets/images/empty.png" />
    <h1>¡Hola! ¿Aún no has reservado ningún espacio?</h1>
    <p>
      Si deseas reservar un espacio, consulta la disponibilidad a través del
      siguiente enlace.
    </p>
    <button
      [routerLink]="['/espacios/consultar']"
      mat-stroked-button
      ngClass.xs="mat-fab"
      color="primary"
    >
      <span fxHide fxShow.gt-xs>Ver disponibilidad de espacios</span>
    </button>
  </mat-card>
</div>
