<div class="container">
  <div class="text-start mt1 p-5 rounded shadow-lg row">
    <h3>Añadir nuevo proveedor</h3>
    <form #presupuestoForm = "ngForm">

      <div class="form-group col-5">
        <label for="proveedor">Proveedor:</label>
        <input type="text" class="form-control" id="proveedor" [(ngModel)]="presupuesto.proveedor" name="proveedor" #proveedor="ngModel">
      </div>

      <div class="form-group col-2">
        <label for="fecha">Fecha:</label>
        <input type="date" class="form-control" id="fecha" [(ngModel)]="presupuesto.fecha" name="fecha">
      </div>

      <div class="form-group col-7">
        <label for="concepto">Concepto:</label>
        <input type="text" class="form-control" id="concepto" [(ngModel)]="presupuesto.concepto" name="concepto">
      </div>

      <div class="form-group col-2">
        <label for="base">Base:</label>
        <input type="number" class="form-control" id="base" [(ngModel)]="presupuesto.base" name="base">
      </div>

      <div class="form-group col-5">
        <label for="tipo">Tipo:</label>
        <select class="form-control" id="tipo" (change)="modificarTipo($event)" >
          <option value="">Seleccione el IVA correspondiente:</option>
          <option  *ngFor="let op of tipos" [value]="op">{{op}} %</option>
        </select>
      </div>

      <div class="form-group col-5">
        <label for="iva">IVA:</label>
        <input type="number" class="form-control" id="iva" [(ngModel)]="presupuesto.iva" name="tipo" disabled>
      </div>

      <button type="button" class="btn btn-success m-3 float-md-end" (click)="altaPresupuesto()">Añadir Presupuesto</button>
    </form>


  </div>

  </div>
